body{	
	margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    background-color: #1b1b1b;
}

.time{
	float: left;
	margin: 5%;
    font-size: -webkit-xxx-large;

}
.time p{
	padding-top: 36px;
    padding-left: 20px;
}
.timet {
	font-size: 204%;
}
.weather{
	float: right;
	width: 30%;
	padding: 30px 4px 4px 4px;
    margin-top: 5%;
}